$white_color: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 3%, 87%);
$darkGrayishViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Space Grotesk', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;
  }
}

.cards {
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: 1400px) {
    width: 100%;
    height: 260px;
    margin-bottom: 150px;
  }

  @media (max-width: 765px) {
    height: 220px;
    margin-bottom: 120px;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;

    @media (max-width: 1400px) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_items {
    position: relative;
    right: -50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

    @media (max-width: 1400px) {
      right: unset;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: -350px;
    }

    .card {
      position: relative;
      box-shadow: 0 15px 20px 5px rgba(#000, 0.4);
      border-radius: 10px;

      @media (max-width: 765px) {
        width: 250px;
      }

      &-front {
        left: -100px;

        @media (max-width: 1400px) {
          left: -50px;
          z-index: 2;
          top: 115px;
        }

        @media (max-width: 765px) {
          left: -25px;
          top: 0;
        }
      }

      &-back {
        @media (max-width: 1400px) {
          right: -50px;
          top: -300px;
          z-index: 1;
        }

        @media (max-width: 765px) {
          right: -25px;
          top: -250px;
        }
      }

      &_bg {
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      &_info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 25px 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $white_color;

        @media (max-width: 765px) {
          padding: 5px 10px;
          gap: 7px;
        }

        &-logo {
        }
        &-number {
          margin-top: auto;
          font-size: 24px;
          letter-spacing: 3px;

          @media (max-width: 765px) {
            font-size: 14px;
          }
        }
        &-customer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 0;
          font-size: 16px;

          @media (max-width: 765px) {
            font-size: 12px;
          }
        }
        &-name {
          text-transform: uppercase;
        }
        &-year {
        }

        &-cvc {
          position: absolute;
          top: 105px;
          right: 50px;
          font-size: 24px;

          @media (max-width: 765px) {
            top: 59px;
            right: 30px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_wrapper {
    max-width: 440px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &_control {
    width: 100%;
  }

  &_label {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    color: $veryDarkViolet;
  }

  &_input {
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
    height: 50px;
    border: 1px solid lighten($veryDarkViolet, 15%);
    outline: none;
    font-size: 20px;
    color: $veryDarkViolet;

    &::placeholder {
      color: $darkGrayishViolet;
    }

    &_error {
      border-color: #c90e0e;
    }

    & + p {
      color: #c90e0e;
    }
  }

  &_top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_date {
    display: flex;
    gap: 10px;

    &-fields {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
    }

    & + p {
      color: #c90e0e;
    }
  }

  &_cvc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    text-transform: uppercase;
    font-size: 16px;

    input {
      border-radius: 10px;
      padding: 5px 15px;
      width: 100%;
      height: 50px;
      border: 1px solid lighten($veryDarkViolet, 15%);
      outline: none;
      font-size: 20px;

      &::placeholder {
        color: $darkGrayishViolet;
      }
    }
  }

  &_bottom {
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 15px;
  }
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;

  h3 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
  }

  p {
    color: #a5a5a5;
    font-size: 18px;
  }

  button {
    margin-top: 20px;
  }
}

button {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: $veryDarkViolet;
  color: $white_color;
  border-radius: 10px;
  cursor: pointer;
}
